.header__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px 0 20px;
  &__upper {
    height: 70px;
    position: relative;
    &__logo {
      top: 10px;
      left: 10px;
      position: absolute;
    }
    &__buttons {
      position: absolute;
      top: 10px;
      right: 20px;
      &__log-in {
        padding: 10px 20px 10px 20px;
        margin-right: 20px;
        border: none;
        background: transparent;
        color: rgb(87, 30, 233);
      }
      &__get-started {
        padding: 10px 20px 10px 20px;
        background: transparent;
        border: 1px solid rgb(87, 30, 233);
        border-radius: 5px;
        color: rgb(87, 30, 233);
      }
    }
  }
  &__name {
    width: 40%;
  }
  &__by {
    margin-top: 20px;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.54);
    padding: 5px 0px 5px 10px;
  }
  &__menu {
    padding-top: 50px;
    position: relative;
    border-bottom: 1 px solid rgb(41, 38, 38);
    &__items {
      height: 20px;
      list-style: none;
      overflow-x: auto !important;
      overflow-y: hidden !important;
      display: flex;
      white-space: nowrap !important;
      &__item {
        display: inline-block !important;
        white-space: nowrap!important;
        text-transform: uppercase;
        color: rgb(124, 126, 126);
        padding-right: 30px;
        overflow-x: hidden;
        letter-spacing: 1px !important;
      }
    }
    &__buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        background: #f8f8f8;
        z-index: 100;
        height: 20px;
        display: flex;
        align-items: center;
        padding: 15px;
      &__zoom {
        padding-right: 20px;  
        color: rgb(87, 30, 233);
      }
      &__button {
        
        padding: 5px 10px 5px 10px;
        background: transparent;
        border: 1px solid rgb(87, 30, 233);
        border-radius: 5px;
        color: rgb(87, 30, 233);
      }
    }
  }
}
