.image-1{
    background-image: url(../../assets/images/lesson_8/1_E6NMaNXr_yr0E5T0tv55Gg.jpeg);
    height: 352px;
    background-position: 61% 32% !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    width: 100%;
    margin: 0px 20px 20px 0px;;
}
.image-2{
    background-image: url(../../assets/images/lesson_8/block1jpeg.jpeg);
    height: 272px;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    width: 100%;
    background-position: 49% 51% !important;
    margin: 0px 20px 10px 0px;
}
.image-3{
    background-image: url(https://cdn-images-1.medium.com/max/750/1*09wtDLg7ty_dLxJMhwRNfw.jpeg);
    height: 272px;
    border: 1px solid rgba(0,0,0,.15)!important;
    width: 100%;
    background-position: 63% 45% !important;
    background-size: cover !important;
    margin: 0px 20px 10px 0px;
}
.image-4{
    background-image: url(https://cdn-images-1.medium.com/max/1250/1*F4iiVj-uEqDgn6bI2ooIDA.jpeg);
    background-position: 35% 54% !important;
    height: 352px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.15)!important;
    background-size: cover !important;
    margin: 0px 20px 20px 0px;
}
.image-5{
    background-image: url(../../assets/images/lesson_8/images-5.jpg);
    background-position: 35% 54% !important;
    height: 174px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.15)!important;
    background-size: cover !important;
    margin: 0px 20px 20px 0px;
}
.image-6{
    background-image: url(../../assets/images/lesson_8/image6.jpeg);
    background-position: 35% 54% !important;
    height: 174px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.15)!important;
    background-size: cover !important;
    margin: 0px 20px 20px 0px;
}
.image-7{
    background-image: url(../../assets/images/lesson_8/images7.jpeg);
    background-position: 35% 54% !important;
    height: 174px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.15)!important;
    background-size: cover !important;
    margin: 0px 20px 20px 0px;
}
.image-8{
    background-image: url(https://cdn-images-1.medium.com/max/500/1*lnAMn1BU4rEz1DWCzAdWVw.gif);
    background-position: 50% 62% !important;
    height: 174px;
    width: 100%;
    background-size: cover !important;
    margin: 0px 20px 20px 0px;
}
.image-9{
    background-image: url(https://cdn-images-1.medium.com/max/500/1*em3EdfsXScpPJ5iiBkBRPg.gif);
    background-position: 51% 45% !important;
    height: 174px;
    width: 100%;
    background-size: cover !important;
    margin: 0px 20px 20px 0px;
}